@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host {
  place-self: center;
  display: grid;
  grid-template:
   "user  posts"  auto /
   1fr    2fr;
  max-width: 80rem;
}