@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host {
  place-self: center;
  max-width: 80rem;
  width: 100%;
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}