@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host {
  width: 100%;
  section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80rem;
    justify-content: space-between;
  }
}