<h1>CONTATO</h1>
    <p>Email:<span> contato@getserve.com</span></p>
    <p>Telefone: <span> (11) 9898-4242</span></p>
    <p>Sac: <span> (11) 9775-1308</span></p>

<section class="conteudo">
  <section class="contact">
    <div class="container">
      <form action="">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="message">Mensagem</label>
        <textarea name="message" id="message"></textarea>
        <!-- <input type="text" name="message" id="message"> -->
        <button type="submit">Enviar</button>
      </form>
    </div>
  </section>
</section>
