@media(min-width: 700px){
    // section.conteiner{
    //     padding: 70px;
    // }

    // .intro p{
    //     font-size: 30px;
    //     color: rgb(0, 0, 0);
    //     display: flex;
    //     justify-content: center;

    // }

    // span{
    //     font-size: 30px;
    //     color:rgb(3, 3, 3); 
    // }

    // h1{
    //     margin-bottom: 50px;
    //     color:rgb(0, 0, 0);
    //     font-size: 45px;
    //     display: flex;
    //     justify-content: center;
    
    // }

    
    .conteudo{ 
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px;
        margin-right: 0px;
        

    }

    .contato{
        padding: 50px 0 0 90px;
    }

    section.contact .container label{
        color: #9B9B9B;
    }

    section.contact {
        padding: 50px 0,
    }


    section.contact form {
        width: 500px;
        max-width:100%;
        margin:0 auto;
    }

    section.contact form input,
    section.contact form textarea{
        width:100%;
        padding:7px;
        margin:10px 0;
        resize:none;

    }

    button{
        background: black;
        border-radius: 8px;
        border:none;
        color:#fff;
        padding: 10px;
        width:30%;
        margin-top:8px ;
    }

    button:hover{
        background: purple;
        cursor: pointer;
    }

    p{
        margin-bottom: 15px;
    }
}

// Mobile
@media(max-width: 700px){

    .container{
        box-sizing: border-box;
        width: 100vw;
        padding: 30px 50px
    }

    .intro p{
        font-size: 20px;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;

    }

    span{
        font-size: 20px;
        color:white; 
    }

    h1{
        margin-bottom: 20px;
        margin-top: 50px;
        color:rgb(255, 255, 255);
        font-size: 25px;
        display: flex;
        justify-content: center;
    
    }

    
}
