<section class="conteiner">
<div class="intro">
    <h1>CONTATO</h1>
    <p>
        Neste espaço, você recebe o atendimento de que precisa.
    O canal de atendimento do GETSERV tem funcionalidades integradas, que cobrem qualquer necessidade que você possa ter em nosso relacionamento.
    </p>
</div> 
<div class="rede">
    <a href=""><img src="assets\img\facebook-logo.png"></a>
    <a href=""><img src="assets\img\insta-logo.png"></a>
    <a href=""><img src="assets\img\whats-logo.jpg"></a>  
</div>
</section>

<div class="oi">oi</div>
<div class="ei">
oi</div>
<div class="iu">oi</div>
<div class="ee">oi</div>
