@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';


:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    @include phone{
        .gradient{
            form {
                width: calc(100% -.5rem);
            }
        }
    }
}
