<div class="gradient">
        <form (ngSubmit)="onFormSubmit($event)">
                <ng-template ngFor let-field [ngForOf]="form.controls" let-i="index">
                        <label [for]="fields[i].name">
                                {{ fields[i].title }}
                        </label>
                        <input [formControl]="getControl(i)" [type]="fields[i].type" [name]="fields[i].name">
                </ng-template>
                <div>
                        <input [(ngModel)]="staySignedIn" class="checkbox" name="staysignedin" type="checkbox">
                        <label for="staysignedin">Permanecer logado</label>
                        <p>Não possui conta? Registre-se <a routerLink="../signup">aqui.</a></p>
                </div>
                <button type="submit" class="submit">Entrar
                </button>
        </form>
</div>