<nav>
  <section>
    <h4>Institucional</h4>
    <ul>
      <li><a href="/about">Sobre nós</a></li>
      <li><a href="/service">Nossos serviços</a></li>
      <li><a href="#">Politica</a></li>
    </ul>
  </section>
  <section>
    <h4>Atendimento ao cliente</h4>
    <ul>
      <li><a href="#">Sac</a></li>
      <li><a href="#">Duvidas frequentes</a></li>
      <li><a href="contact">Contato</a></li>
    </ul>
  </section>
  <section class="social-links">
    <h4>Redes Sociais</h4>
    <ul>
      <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
  </section>
</nav>
