@import "../../../assets/css/variables";
@import "../../../assets/css/mixins";
:host{
  @include colorLight;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template:
    "img"   auto
    "name"  auto
    "prof"  auto
    "bio"   auto;
  place-self: center;
  .personal-figure {
    grid-area: img;
    position: relative;
    width: 120px;
    height: 120px;

    .personal-avatar {
      cursor: pointer;
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      border-radius: 100%;
      border: 2px solid transparent;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
      transition: all ease-in-out .3s;
    }

  }

}
