<a routerLink="" class="logo"> <img class="logoimg" src="../../../assets/img/logo3.png" alt="">GETSERV</a>
<div class="container">
  <input type="text" placeholder="Pesquisar">
  <div class="search"></div>
</div>
<ul>
    <li>
        <a routerLink="about">SOBRE</a>
    </li>
    <li>
        <a routerLink="contact">CONTATO</a>
    </li>

    <!-- <li>
      <a routerLink="signup">REGISTRAR</a>
    </li> -->
    <li>
      <a routerLink="post">SERVIÇO</a>
    </li>
    <li>
        <a routerLink="signin">ENTRAR</a>
    </li>
  </ul>

<button (click)="toggleNav()" class="menu">☰</button>
