@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host{
  @include colorAlt;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  width: 100%;
  font-weight: 600;
  .logo {
    padding-left: 1rem;
  } 
  button {
    @include inactive;
    @include textButton;
  }
  @include mobile {
    .menu {
      @include activeImportant;
      padding-right: 1rem;
    }
  }
}