.grid{
    margin:80px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid: gap 30px;
    align-items: center;
}

.grid >article{
    background-color:#eee5e9;
    border:none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    border-radius:8px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
    margin:35px;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(206, 37, 169, 0.3);
}

.grid >article img{
    width: 100px;
    border-radius: 100%;
    margin: 5px;
    height:80px
}

.text{
    color:black;
    padding: 0 20px 20px;
}

.text h3{
    text-transform: uppercase;
    padding: 10px;
    color: purple;
}

.text p{
    padding: 5px;
    text-align: justify;
    margin-bottom:8px;
    
}

.text button{
    background: black;
    border-radius: 8px;
    border:none;
    color:#fff;
    padding: 10px;
    width:50%;
    margin-top:8px ;
}

.text button:hover{
    background: purple;
    cursor: pointer;
}

.avaliacao i{
    margin:5px;
}

@media(max-width:768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:768px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}