$header-height: 4rem;
$footer-height: 3rem;

$sans: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro' , serif;

$colors: (
    "primary": #608040,
    "secondary": red,
    "foreground": black,
    "background": white,
);
