$header-height: 4rem;

$sans: 'Source Sans Pro', sans-serif;
$serif: 'Source Serif Pro' , serif;

$colors: (
    "primary": #90c,
    "secondary": #0cc,
    "foreground": #000,
    "background": #eee,
    "alt-bg": #333,
    "success": #484,
    "alert": #d44,
);

@keyframes drop {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}