@import "../assets/css/variables";
:host{
  display: grid;
  grid-template:
    "header"  $header-height
    "main"    auto
    "footer"  #{$footer-height} /
    100%;
  place-items: center center;
  height: 100%;
  width: 100%;
  main {
    grid-area: main;
    display: grid;
    height: 100%;
    width: 100%;
  }
  .router {
    position: fixed;
    grid-area: main;
  }
}
