    <article *ngFor="let post of posts">
      <img src="{{post.imgUrl}}">
      <div class="text">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <div class="rating">
          <i class="fa-solid fa-star" *ngFor="let star of starsB(post.rating)"></i>
          <i class="fa-regular fa-star" *ngFor="let star of starsW(post.rating)"></i>
        </div>
        <button>Solicitar orçamento</button>
        <button *ngIf="isAuthor" (click)="toggle(post.id)">Deletar</button>
      </div>
    </article>

  <ng-container *ngIf="showDelete">
    <div class="modal">
      <span>Tem certeza que deseja deletar esse serviço?</span>
      <div class="buttons">
        <button class="bnt-s" (click)="deletePost()">Confirmar</button>
        <button class="btn-n" (click)="toggle()">Cancelar</button>
      </div>
    </div>
    <div class="overlay"></div>
</ng-container>
