@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';


:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .border {
        background: linear-gradient(90deg, rgba(144,0,192,1) 0%, rgba(0,202,205,1) 100%);
        padding: .25rem;
        border-radius: .5rem;
        form {
            @include colorLight;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 30rem;
            width: 100%;
            background-color: white;
            padding: 2rem;
            border-radius: 6px;
            input {
                width: 100%;
                border: solid .125rem map-get($colors, "background");
                border-radius: .25rem;
                padding: .25rem;
                margin-bottom: 1rem;
            }
            label {
                padding: 0 0 .5rem .25rem;
            }
            .status {
                display: grid;
                place-items: center;
                z-index: 1;
                position: relative;
                top: 1.85rem;
                right: .5rem;
                font-size: 1.25rem;
                font-weight: 800;
                height: 16px;
                width: 16px;
                background-color: white;
            }
            .submit {
                @include colorAlt;
                width: 100%;
                font-weight: 600;
                padding: .5rem;
                border-radius: .25rem;
            }
        }
    }
}

