<div class="gradient">
  <form (ngSubmit)="onFormSubmit($event)">
    <ng-template  ngFor let-field
                  [ngForOf]="form.controls"
                  let-i="index">
      <label [for]="fields[i].name">
        {{ fields[i].title }}
      </label>
      <strong class="status"
              [ngClass]="field.touched ? validate(field, 'valid', 'invalid') : ''">
        {{ validate(field, '✔', '⚠') }}
      </strong>
      <input  [ngClass]="field.touched ? validate(field, 'valid', 'invalid') : ''"
              [formControl]="getControl(i)"
              [type]="fields[i].type"
              [name]="fields[i].name"
              cpf>
    </ng-template>
    <p>Já se registrou? Entre <a routerLink="/siginin">aqui.</a></p>
    <button [disabled]="form.invalid"
            [ngClass]="{ 'submit': true,
                         'disabled': form.invalid }"
            type="submit">
      Cadastrar
    </button>
  </form>
</div>