@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host {
    display: grid;
    place-items: center;
    background-color: map-get($colors, "primary");
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 640px;
        width: 50%;
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        input {
            border: solid #eee;
            border-radius: 4px;
            padding: .25rem;
            margin-bottom:1rem;
        }
        label {
            padding: 0 0 .5rem .25rem;
        }
    }
}