@import './assets/css/reset.css';
@import './assets/css/variables';
@import './assets/css/mixins';

html {
    font-family: $sans;
    color: inherit;
    font-size: 16px;
    height: 100%;
    width: 100%;
    body {
        color: map-get($colors, "background");
        background-color: map-get($colors, "alt-bg");
        height: 100%;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    strong {
        &.invalid {
            color: map-get($colors, "primary");
        }
        &.valid {
            color: map-get($colors, "secondary");
        }
    }

    input {
        &.invalid {
                outline: solid 2px map-get($colors, "primary");
        }
        &.valid {
                outline: solid 2px map-get($colors, "secondary");
        }
    }

    .valid, .invalid {
        visibility: visible !important;
    }

    button {
        @include textButton;
        cursor: pointer;
    }

    @for $i from 1 through 6 {
        h#{$i} {
            font-family: $serif;
            font-size: (3 - ($i - 1) * .5)rem;
        }
    }

    .active {
        @include activeImportant;
    }

    .disabled {
        background-color: gray !important;
        cursor: auto;
    }

    .gradient {
        background: linear-gradient(135deg, rgba(144,0,192,1) 0%, rgba(0,202,205,1) 100%);
        padding: .25rem;
        border-radius: .5rem;
        width: 28rem;
    }

    form {
        @include colorLight;
        display: grid;
        grid: auto auto / auto auto;
        max-width: 24rem;
        width: 100%;
        background-color: white;
        padding: 2rem;
        border-radius: 6px;
        p {
            margin: 1rem 0;
        }
        button {
            grid-column: 1 / 3;
            margin-top: .5rem;
        }
        input {
            width: 95%;
            place-self: center;
            grid-column: 1 / 3;
            border: solid .125rem map-get($colors, "background");
            border-radius: .25rem;
            padding: .25rem;
            margin: .5rem;
            &[type="checkbox"] {
                width: auto;
                grid-column: 1 / 2;
                place-self: end;
            }
        }
        label {
            padding: .5rem 0 0 .25rem;
        }
        .status {
            visibility: hidden;
            place-self: center end;
            display: grid;
            place-items: center;
            z-index: 1;
            position: relative;
            top: 2rem;
            right: .75rem;
            font-size: 1.25rem;
            font-weight: 800;
            height: 1rem;
            width: 1rem;
            background-color: white;
        }
        .submit {
            @include colorAlt;
            width: 100%;
            font-weight: 600;
            padding: .5rem;
            border-radius: .25rem;
        }
    }
}
