<section class="container">
    <div class="intro">
        <h1>SOBRE</h1>
         <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum iaculis eu non diam phasellus vestibulum lorem. Amet purus gravida quis blandit. Pretium nibh ipsum consequat nisl vel pretium. A iaculis at erat pellentesque adipiscing. Dignissim sodales ut eu sem integer vitae justo eget. Aliquam eleifend mi in nulla posuere. Faucibus interdum posuere lorem ipsum dolor sit amet. Velit laoreet id donec ultrices. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Eget gravida cum sociis natoque penatibus. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod.<br>
        </p>
    </div>

        <div class="Conteudo">
            <article>
                <div class="img">
                    <img src="assets\img\m.jpg">
                </div>

                <div class="texto">
                    <h2>MISSÃO</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum iaculis eu non diam phasellus vestibulum lorem. Amet purus gravida quis blandit. Pretium nibh ipsum consequat nisl vel pretium. A iaculis at erat pellentesque adipiscing. Dignissim sodales ut eu sem integer vitae justo eget. Aliquam eleifend mi in nulla posuere. Faucibus interdum posuere lorem ipsum dolor sit amet. Velit laoreet id donec ultrices. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Eget gravida cum sociis natoque penatibus. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod.
                    </p>
                </div>
            </article>

            <article>
                <div class="texto">
                    <h2>VISÃO</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum iaculis eu non diam phasellus vestibulum lorem. Amet purus gravida quis blandit. Pretium nibh ipsum consequat nisl vel pretium. A iaculis at erat pellentesque adipiscing. Dignissim sodales ut eu sem integer vitae justo eget. Aliquam eleifend mi in nulla posuere. Faucibus interdum posuere lorem ipsum dolor sit amet. Velit laoreet id donec ultrices. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Eget gravida cum sociis natoque penatibus. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod.
                    </p>
                </div>
                <div class="img ">
                    <img src="assets\img\vis.jpg">
                </div>
            </article>

            <article>
                <div class="img">
                    <img src="assets\img\v.jpg">
                </div>

                <div class="texto">
                    <h2>VALORES</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fermentum iaculis eu non diam phasellus vestibulum lorem. Amet purus gravida quis blandit. Pretium nibh ipsum consequat nisl vel pretium. A iaculis at erat pellentesque adipiscing. Dignissim sodales ut eu sem integer vitae justo eget. Aliquam eleifend mi in nulla posuere. Faucibus interdum posuere lorem ipsum dolor sit amet. Velit laoreet id donec ultrices. Consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat. Eget gravida cum sociis natoque penatibus. Aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod.
                </div>
            </article>
        </div>
</section>



