<section class="conteiner">
    <h1>SOBRE</h1>
    <div class="intro">
         <p>
            Em busca da excelência na prestação dos serviços, a Zamak TI avalia as melhores e mais inovadoras soluções de forma personalizada levando sempre em consideração as necessidades de seus clientes, além disso, formamos parcerias com os principais fabricantes do mercado e demais parceiros estratégicos.
            Trabalhamos com soluções voltadas ao seu negócio, sempre priorizando a prevenção de falhas, evitando riscos, lentidões, travamentos, interrupções e perdas de dados pois entendemos que as informações de uma empresa são bens valiosos e precisam ser protegidos.
        </p>
    </div>  
    
        <div class="Conteudo">
            <article>
                <div class="img">
                    <img src="assets\img\coracaonet.png">
                </div>
    
                <div class="texto">
                    <h2>MISSÃO</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.    
                    </p>
                </div>
            </article>

            <article>
                <div class="texto">
                    <h2>VISÃO</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.    
                    </p>
                </div>
                <div class="img">
                    <img src="assets\img\coracaonet.png">
                </div>
            </article>

            <article>
                <div class="img">
                    <img src="assets\img\coracaonet.png">
                </div>
    
                <div class="texto">
                    <h2>VALORES</h2>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.    
                    </p>
                </div>
            </article>
        </div>

</section>
    

