<section class="container">
    <div class="intro">
        <h1>SOBRE</h1>
         <p>
            Com a pandemia, muitas pessoas perderam o emprego, e se viram forçados a recorrer 
            a trabalhos de forma autônoma.
            Analisando isso, percebemos que há uma deficiência no nicho de serviços
            online.<br> 
            Grandes metrópoles contam com sites e aplicativos que suprem essas necessidades,
            porém, em cidades menores e interioranas, é muito escasso.
            A GetServ tem como propósito suprir esta demanda, e levar conexão entre pessoas.
        </p>
    </div>  
    
        <div class="Conteudo">
            <article>
                <div class="img">
                    <img src="assets\img\m.jpg">
                </div>
    
                <div class="texto">
                    <h2>MISSÃO</h2>
                    <p>
                       Atender ao público de forma diferenciada, sem que o cliente tenha que sair de sua casa ou local de trabalho, otimizando seu tempo e sem a preocupação em encontrar um profissional especializado, que atenda as suas necessidades.
                    </p>
                </div>
            </article>

            <article>
                <div class="texto">
                    <h2>VISÃO</h2>
                    <p>
                        Ser uma grande empresa de serviços de tecnologia que aproxima o cliente do prestador de serviço especializado, garantindo que seu atendimento seja diferenciado e sem que o cliente se desloque até o profissional.     
                    </p>
                </div>
                <div class="img ">
                    <img src="assets\img\vis.jpg">
                </div>
            </article>

            <article>
                <div class="img">
                    <img src="assets\img\v.jpg">
                </div>
    
                <div class="texto">
                    <h2>VALORES</h2>
                    <p>
                        A empresa presa pela qualidade do serviço, satisfação do cliente e a segurança com que os serviços são realizados.   
                    </p>
                </div>
            </article>
        </div>
</section>

    

