// Desktop
@media(min-width: 700px){
    section.conteiner{
    
    }

    h1{
        color:purple;
        font-size: 45px;
        padding:70px 30px 70px 30px;
    }

    .intro p{
        font-size: 25px;
        color: white;
        padding-left: 20px;
        line-height: 35px;
        text-align: justify;
        margin-bottom: 25px;
    }

    .texto{
        text-align: center;
        padding:70px;
        width: 500px;
        height: 200px;
        font-size: 24px 
    }

    .texto h2{
        margin-bottom: 25px;
        color:purple;
        font-size: 35px
    }

    article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 70px;
    }

    article .img img{
        width: 500px;
        height: 500px;
    }
}

// Mobile
@media (max-width: 700px){
    .container{
        box-sizing: border-box;
        width: 100vw;

        padding: 30px 50px ;
    }

    .container *{
        font-size: 16px;
    }
    
    .sr-only{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    article h1{
        color:green !important;
    }
    
    article{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        align-items: center;
        
    }
    
    article .texto{
        text-align: center;
    }
    
    article .img img{
        max-width: 150px;
        max-height: 150px;
    }

    .intro p{
        text-align: justify;
        margin-bottom: 20px;
    }
}


