@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

:host{
    display: grid;
    place-items: center;
    section {
        max-width: 80rem;
    }
// Desktop
@media(min-width: 700px){
  h1{
      color:purple;
      font-size: 45px;
    //   text-shadow: -2px -2px 2px #fff;
      padding:70px 30px 30px 30px;
      text-align: center;
  }

  .intro p{
      font-size: 25px;
      color: white;
      padding: 30px;
      line-height: 35px;
      text-align: justify;
      margin-bottom: 70px;
  }

  .texto{
      text-align: center;
      padding:70px;
      width: 100%;
      height: 100%;
      font-size: 24px ;
      align-items: center;
      color:black;
  }

  .texto h2{
      margin-bottom: 25px;
      color:purple;
      font-size: 35px
  }

  article {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
      margin: 40px;
      align-items: center;
      background-color:white;
      border-radius: 8px;
  }

  article .img img{
      width: 500px;
      height: 300px;
      margin: 10px;
      border-radius: 20px;
  }
}

//Tablet
@media(max-width: 900px){
  .container{
      box-sizing: border-box;
      width: 100vw;

      padding: 30px 50px ;
  }
  article:nth-child(1),
  article:nth-child(3){
      flex-direction: column-reverse;
  }

  article:nth-child(2){
      flex-direction: column;
  }
  h1{
    color:purple;
      font-size: 24px;
    //   text-shadow: -2px -2px 2px #fff;
      padding:70px 30px 30px 30px;
      text-align: center;
  }
}

// Mobile
@media (max-width: 700px){
  .container{
      box-sizing: border-box;
      width: 100vw;

      padding: 30px 50px ;
  }

  .container *{
      font-size: 16px;
  }

  article h2{
    color:purple;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom:20px;
  }

  article{
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      border-radius: 20px;
  }
  article:nth-child(1),
  article:nth-child(3){
      flex-direction: column-reverse;
  }

  article:nth-child(2){
      flex-direction: column;
  }

  article .texto{
      text-align: center;
      margin-bottom: 20px;
  }

  article .img img{
      max-width: 200px;
      max-height: 200px;
      border-radius: 8px;
  }

  h1{
      color:purple;
      margin-bottom: 20px;
  }

  .intro p{
      text-align: justify;
      margin-bottom: 20px;
  }
}
}





