<div id="modal">
    <form>
        <label>
            Título:
        <input type="text" name="nome" id="title" [(ngModel)]="newPost.title">
        </label>
        <label>
            Descrição:
            <input type="text" name="descricao" [(ngModel)]="newPost.description">        
        <label for="photo" action="/upload" method="post" enctype="multipart/form-data">
            Imagem
        </label>
        <input type="url" accept="image/*" name="photo">
        </label>
        <div class="controles">
            <button (click)="cancel()" type="submit">Cancelar</button> 
            <button (click)="postService()">Salvar</button>   
        </div>
    </form>
</div>